.board .panel {
    padding: 25px 25px;
    margin: 20px;
    border: none;
    background: #3b3f5c;
}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.panel {
    border-radius: 0px;
}
.panel-primary {
    border-color: #337ab7;
}
.panel {
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fff;
   
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.board .panel .icon .fa {
    font-size: 30px;
    color: #FFFFFF;
    background: #30A5FF;
    padding: 19px;
}
.number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 5px;
    display: inline-block;
}
i.fa.fa-bars {
    font-size: 20px;
    margin: 12px 0 0;
}
i.fa.fa-bars:hover {
  color: #F36A5A;
}
.board .number{
  float:left;
}
.board .icon{
  float:right;
}

.number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
    margin: 8px 5px;
    display: inline-block;
}
.board .panel .icon .fa {
    font-size: 30px;
    color: #FFFFFF;
    background: #30A5FF;
    padding: 19px;
}
